.time-slider-container {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 20px;
    width: 70%;
    z-index: 2;
    background-color: white;
}

.time-slider-wrapper {
    display: flex;
    justify-content: center;
}

.time-slider {
    width: 90%;
}